<h1>Your question is</h1>

{{!-- form method là post tức là nó có tác dụng post, có thể sửa method này --}}
<form method="post" action="/ask">
    <textarea name="question" cols="30" rows="10"></textarea>

    <button type="Yes">Yes</button>
    <button type="No">No</button>
</form>